@charset "UTF-8";
.projects-section__title, .features__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clients-section__title, .company-team__title, .company-works__title {
  margin-bottom: 30px;
  font-style: normal;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  color: #212121;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 768px) {
  body {
    padding-top: 80px;
  }
}
body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1200px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header {
  position: relative;
  width: 100%;
  background-color: #FFFFFF;
  border-bottom: 1px solid #ECECEC;
  z-index: 28;
}
@media screen and (min-width: 768px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
  }
}

.header .site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
}
@media screen and (min-width: 1200px) {
  .header .site-nav {
    justify-content: center;
  }
}

.site-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  text-decoration: none;
  color: #000000;
}
.site-logo__decoration {
  color: #2196F3;
}

.mobile-menu__icons {
  width: 40px;
  height: 40px;
}
.mobile-menu-button:active .mobile-menu__icons {
  fill: #2196F3;
}

.mobile-menu-button {
  width: 40px;
  height: 40px;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
  z-index: 29;
}
.mobile-menu-button .close-icon {
  display: none;
}
@media screen and (min-width: 768px) {
  .mobile-menu-button {
    display: none;
  }
}

.mobile-menu-button.is-open {
  padding: 5px;
}
.mobile-menu-button.is-open .close-icon {
  display: block;
}

.mobile-menu-button.is-open .menu-icon {
  display: none;
}

.site-nav__container {
  background-color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .site-nav__container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 48px 40px;
  }
  .site-nav__container.is-open {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .site-nav__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav__container {
    margin-left: 93px;
  }
}

.site-nav__list {
  margin-bottom: 306px;
}
@media screen and (min-width: 768px) {
  .site-nav__list {
    display: flex;
    gap: 52px;
    margin-bottom: 0;
  }
}

.site-nav__item:not(:last-child) {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .site-nav__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}
.site-nav__link:hover {
  color: #2196F3;
}
@media screen and (min-width: 768px) {
  .site-nav__link {
    position: relative;
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    /* css перехід */
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav__link:hover, .site-nav__link:focus {
    color: #2196F3;
  }
  .site-nav__link:hover::after, .site-nav__link:focus::after {
    opacity: 1;
  }
  .site-nav__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    min-width: 100%;
    height: 4px;
    background-color: #2196F3;
    opacity: 0;
    border-radius: 2px;
    /* css перехід */
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.site-nav__link--current, .site-nav__link--current::after {
  opacity: 1;
  color: #2196F3;
}

.header-contacts__list {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (min-width: 768px) {
  .header-contacts__list {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 0;
    margin-left: 97px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts__list {
    flex-direction: row;
    gap: 40px;
    margin-left: 305px;
  }
}

.header-contacts__item:last-child {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .header-contacts__item:last-child {
    margin-bottom: 0;
  }
}

.header-contacts__email-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}
@media screen and (min-width: 768px) {
  .header-contacts__email-link {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.1666666667;
    color: #757575;
    /* css перехід */
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-contacts__email-link:hover, .header-contacts__email-link:focus {
    color: #2196F3;
  }
}

.header-contacts__phone-link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196F3;
}
@media screen and (min-width: 768px) {
  .header-contacts__phone-link {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.1666666667;
    color: #757575;
    /* css перехід */
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-contacts__phone-link:hover, .header-contacts__phone-link:focus {
    color: #2196F3;
  }
}

.header-contacts__email-icon {
  width: 16px;
  height: 12px;
  margin-right: 8px;
  fill: currentColor;
}
@media screen and (max-width: 768px) {
  .header-contacts__email-icon {
    display: none;
  }
}

.header-contacts__phone-icon {
  width: 10px;
  height: 16px;
  margin-right: 8px;
  fill: currentColor;
}
@media screen and (max-width: 768px) {
  .header-contacts__phone-icon {
    display: none;
  }
}

.mobile-menu__social-list {
  display: flex;
}
@media screen and (min-width: 768px) {
  .mobile-menu__social-list {
    display: none;
  }
}

.mobile-menu__social-item {
  display: flex;
  align-items: center;
  align-content: center;
}
.mobile-menu__social-item:not(:first-child)::before {
  content: "";
  display: block;
  width: 22px;
  height: 1px;
  background-color: rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.mobile-menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: #2196F3;
  text-decoration: none;
}

.hero-section {
  max-width: 480px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #212121;
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-section {
    max-width: 1600px;
    min-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_desktop.jpg);
  }
}
@media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_desktop@2x.jpg);
  }
}

.hero-section__title {
  display: block;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .hero-section__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.3636363636;
  }
}

.hero-section__button {
  width: 200px;
  height: 50px;
  background: #2196F3;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  /* css перехід */
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-section__button:active {
  background-color: #188CE8;
}

.modal-window-backdrop {
  position: fixed;
  /* Ставимо його в початок вюпорта */
  top: 0;
  left: 0;
  /* і розтягуємо на вюпорт */
  width: 100%;
  height: 100%;
  padding: 94px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  /* css перехід */
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 30;
  overflow-y: scroll;
}

.modal-window-backdrop.is-hidden {
  /* Прозорість */
  opacity: 0;
  /* при кліку на елемент на нього не впливу немає і клік буде прийматися наступним елементом*/
  pointer-events: none;
}

.modal-window-backdrop.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal-window {
  border-radius: 4px;
  background-color: #FFFFFF;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .modal-window {
    /* центрування відносно початку вікна верхній лівий кут */
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    transform: translate(-50%, -50%) scale(1);
    max-width: 450px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .modal-window {
    max-width: 528px;
    width: 100%;
  }
}

.modal-window__close-icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window__close-button:hover .modal-window__close-icon {
  fill: #2196F3;
}

.modal-window__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal-window__title {
  min-width: 370px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #212121;
}

.modal-window-form {
  margin-left: auto;
  margin-right: auto;
}

.modal-window-form__item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal-window-form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-window-form__input {
  margin: 0;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  padding-right: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window-form__input:focus {
  outline: none;
  border-color: #2196F3;
}

.modal-window-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window-form__input:focus ~ .modal-window-form__icon {
  fill: #2196F3;
}

.modal-window-form__item--textarea-field {
  margin-bottom: 20px;
}

.modal-window-form__textarea {
  resize: none;
  padding: 16px 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window-form__textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-window-form__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-window-form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-window-form__textarea:focus {
  outline: none;
  border-color: #2196F3;
}

.modal-window-form__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.modal-window-form__check {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.1666666667;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .modal-window-form__check {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

.modal-window-form__check-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #000000;
  border-radius: 2px;
}
.modal-window-form__checkbox:checked + .modal-window-form__check-icon {
  background-color: #2196F3;
  background-image: url("../images/icons.svg#check_icon");
  background-size: contain;
  background-origin: border-box;
  border-color: #2196F3;
}

.modal-window-form__link {
  margin-left: 4px;
  color: #2196F3;
}

.modal-window-form__submit-button {
  background: #188CE8;
  padding: 10px 52px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    flex-wrap: nowrap;
  }
}

.features__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .features__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .features__item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc((100% - 30px) / 4);
  }
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__name {
  text-align: center;
  margin-bottom: 10px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .features__name {
    text-align: left;
  }
}

.features__description {
  font-style: normal;
  font-weight: 400;
  line-height: 1.7142;
  color: blck;
}

.company-works {
  padding-top: 0;
}
@media screen and (max-width: 1200px) {
  .company-works {
    display: none;
  }
}

.company-works-list {
  display: flex;
}

.company-works-list .company-works__item + .company-works__item {
  margin-left: 30px;
}

.company-works__content {
  position: relative;
}

.company-works__description {
  min-width: 100%;
  min-height: 70px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(47, 48, 58, 0.8);
}

.company-works__work-title {
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.company-team {
  background-color: #F5F4FA;
}

@media screen and (min-width: 768px) {
  .company-team__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .company-team__list {
    flex-wrap: nowrap;
  }
}

.company-team__item {
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.company-team__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .company-team__item {
    width: 354px;
    margin-bottom: 0;
  }
  .company-team__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.employee-description {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .employee-description {
    padding-bottom: 30px;
  }
}

.employee-description__name {
  margin-bottom: 10px;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  text-align: center;
  color: #212121;
}

.employee-description__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  color: #757575;
}

.employee-social__list {
  display: flex;
  justify-content: center;
}

.employee-social__list .employee-social__item + .employee-social__item {
  margin-left: 10px;
}

.employee-social__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AFB1B8;
  background-color: #FFFFFF;
  border-radius: 50%;
  /* css перехід */
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.employee-social__link:hover, .employee-social__link:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}

.employee-social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.clients-section {
  width: 100vw;
}

.clients__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__list {
    flex-wrap: nowrap;
  }
}

.clients__item {
  width: 210px;
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: 226px;
  }
}

.clients__link {
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AFB1B8;
  background-color: #FFFFFF;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  /* css перехід */
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: #2196F3;
  background-color: #FFFFFF;
  border: 1px solid #2196F3;
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.projects-filter__list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 8px;
       column-gap: 8px;
  row-gap: 15px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .projects-filter__list {
    justify-content: center;
  }
}

.projects-filter__button {
  background: #F5F4FA;
  padding: 6px 22px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: #212121;
  border: none;
  border-radius: 4px;
  /* css перехід */
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-filter__button:hover, .projects-filter__button:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .projects__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }
}

.projects__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .projects__item {
    height: 100%;
    width: 354px;
  }
  .projects__item:first-child .projects__type {
    margin-bottom: 35px;
  }
  .projects__item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .projects__item {
    width: 370px;
    margin: 0;
  }
  .projects__item:first-child .projects__type {
    margin-bottom: 0;
  }
}

.projects__link {
  display: inline-block;
  text-decoration: none;
  color: #212121;
  /* css перехід */
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__link:hover, .projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/*############### Start Projects description animation #################*/
.projects__description-container {
  position: relative;
  overflow: hidden;
}
.projects__description-container::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__item:hover .projects__description-container::before {
  transform: translateY(0);
}
.projects__link:focus .projects__description-container::before {
  transform: translateY(0);
}

.projects__project-description {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 77px 24px;
  /* css перехід */
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__item:hover .projects__project-description {
  transform: translateY(0);
}
.projects__link:focus .projects__project-description {
  transform: translateY(0);
}

.projects__description-text {
  font-size: 18px;
  line-height: 1.5555555556;
  color: #FFFFFF;
}

/*############### End Projects description animation #################*/
.projects__project-meta {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.projects__title {
  margin-bottom: 4px;
  font-style: normal;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.projects__type {
  font-style: normal;
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .footer-contacts-social-container {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
}

.footer__site-logo {
  display: block;
  margin-bottom: 28px;
  text-align: center;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .footer__site-logo {
    text-align: left;
  }
}

.footer-contacts__list {
  margin-bottom: 60px;
  text-align: center;
}
.footer-contacts__list li:not(:last-child) {
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .footer-contacts__list {
    margin-bottom: 0px;
    text-align: left;
  }
}

.footer-contacts__physical-address {
  display: block;
  margin-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.1428571429;
  color: #FFFFFF;
}

.footer-contacts__link {
  font-style: normal;
  line-height: 1.1428571429;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  /* css перехід */
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: #2196F3;
}

.footer-social-container_name {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .footer-social-container_name {
    text-align: left;
  }
}

.footer-social-container {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-social-container {
    margin-left: 70px;
    margin-bottom: 0;
  }
}

.footer-social__list {
  display: flex;
  justify-content: center;
}

.footer-social__list .footer-social__item + .footer-social__item {
  margin-left: 10px;
}

.footer-social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer-social__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  /* css перехід */
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__link:hover, .footer-social__link:focus {
  background-color: #2196F3;
}

.footer-subscribe__name {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .footer-subscribe__name {
    text-align: left;
  }
}

.footer-subscribe-form {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-subscribe-form {
    display: flex;
    align-items: baseline;
  }
}

.footer-subscribe-form__input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding: 15px 16px;
  color: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscribe-form__input:focus {
  outline: none;
  border-color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .footer-subscribe-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-subscribe-form__input {
    width: 358px;
    margin-right: 12px;
  }
}

.footer-subscribe-form__button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 28px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  cursor: pointer;
  background: #2196F3;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-subscribe-form__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: currentColor;
}/*# sourceMappingURL=main.css.map */