@charset "UTF-8";
.projects-section__title, .features__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clients-section__title, .company-team__title, .company-works__title {
  margin-bottom: 50px;
  font-style: normal;
  font-size: 36px;
  line-height: 1.1666;
  text-align: center;
  color: #212121;
}

html {
  box-sizing: border-box;
}

body {
  padding-top: 80px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #212121;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FFFFFF;
  border-bottom: 1px solid #ECECEC;
  z-index: 2;
}

.header-container {
  display: flex;
  align-items: center;
}

.site-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1923;
  text-decoration: none;
  color: #000000;
}
.site-logo__decoration {
  color: #2196F3;
}

.site-nav {
  margin-left: 93px;
}

.site-nav__list {
  display: flex;
}

.site-nav__list .site-nav__link,
.header-contacts .header-contacts__email,
.header-contacts .header-contacts__phone {
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav__list .site-nav__item + .site-nav__item {
  margin-left: 52px;
}

.header-contacts__list .header-contacts__item + .header-contacts__item {
  margin-left: 50px;
}

.header-contacts__list {
  display: flex;
  margin-left: auto;
}

.site-nav__link {
  position: relative;
  display: block;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  /* css перехід */
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196F3;
}
.site-nav__link:hover::after, .site-nav__link:focus::after {
  opacity: 1;
}

.header-contacts__email-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.header-contacts__phone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.header-contacts__email-link,
.header-contacts__phone-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
  /* css перехід */
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts__email-link:hover, .header-contacts__email-link:focus,
.header-contacts__phone-link:hover,
.header-contacts__phone-link:focus {
  color: #2196F3;
}

.current::after,
.site-nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  min-width: 100%;
  height: 4px;
  background-color: #2196F3;
  opacity: 0;
  border-radius: 2px;
  /* css перехід */
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link--current, .site-nav__link--current::after {
  opacity: 1;
  color: #2196F3;
}

.hero-section {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #212121;
}

.hero-section__title {
  display: block;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero-section__button {
  background: #2196F3;
  padding: 10px 32px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  /* css перехід */
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-section__button:active {
  background-color: #188CE8;
}

.modal-window-backdrop {
  position: fixed;
  /* Ставимо його в початок вюпорта */
  top: 0;
  left: 0;
  /* і розтягуємо на вюпорт */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  /* css перехід */
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 3;
}

.modal-window-backdrop.is-hidden {
  /* Прозорість */
  opacity: 0;
  /* при кліку на елемент на нього не впливу немає і клік буде прийматися наступним елементом*/
  pointer-events: none;
}

.modal-window-backdrop.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal-window {
  /* центрування відносно початку вікна верхній лівий кут */
  position: absolute;
  top: 50%;
  left: 50%;
  /* padding: 8px; */
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background-color: #FFFFFF;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window__close-icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window__close-button:hover .modal-window__close-icon {
  fill: #2196F3;
}

.modal-window__close-button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-right: 8px;
  margin-left: auto;
  background-color: #FFFFFF;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal-window__title {
  width: 448px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.modal-window-form {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
}

.modal-window-form__item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal-window-form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-window-form__input {
  margin: 0;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  padding-right: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window-form__input:focus {
  outline: none;
  border-color: #2196F3;
}

.modal-window-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window-form__input:focus ~ .modal-window-form__icon {
  fill: #2196F3;
}

.modal-window-form__item--textarea-field {
  margin-bottom: 20px;
}

.modal-window-form__textarea {
  resize: none;
  padding: 16px 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window-form__textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-window-form__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-window-form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-window-form__textarea:focus {
  outline: none;
  border-color: #2196F3;
}

.modal-window-form__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.modal-window-form__check {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.7142857143;
  color: #757575;
}

.modal-window-form__check-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #000000;
  border-radius: 2px;
}
.modal-window-form__checkbox:checked + .modal-window-form__check-icon {
  background-color: #2196F3;
  background-image: url("../images/icons.svg#check_icon");
  background-size: contain;
  background-origin: border-box;
  border-color: #2196F3;
}

.modal-window-form__link {
  margin-left: 4px;
  color: #2196F3;
}

.modal-window-form__submit-button {
  background: #188CE8;
  padding: 10px 52px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.features__list {
  display: flex;
}

.features__list .features__item + .features__item {
  margin-left: 30px;
}

.features__item {
  flex-basis: 25%;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__name {
  margin-bottom: 10px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.1428;
  text-transform: uppercase;
}

.features__description {
  font-style: normal;
  font-weight: 400;
  line-height: 1.7142;
  color: #757575;
}

.company-works {
  padding-top: 0;
}

.company-works-list {
  display: flex;
}

.company-works-list .company-works__item + .company-works__item {
  margin-left: 30px;
}

.company-works__content {
  position: relative;
}

.company-works__description {
  min-width: 100%;
  min-height: 70px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(47, 48, 58, 0.8);
}

.company-works__work-title {
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.company-team {
  background-color: #F5F4FA;
}

.company-team__list {
  display: flex;
}

.company-team__list .company-team__item + .company-team__item {
  margin-left: 30px;
}

.company-team__item {
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.employee-description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.employee-description__name {
  margin-bottom: 10px;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  text-align: center;
  color: #212121;
}

.employee-description__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #757575;
}

.employee-social__list {
  display: flex;
  justify-content: center;
}

.employee-social__list .employee-social__item + .employee-social__item {
  margin-left: 10px;
}

.employee-social__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AFB1B8;
  background-color: #FFFFFF;
  border-radius: 50%;
  /* css перехід */
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.employee-social__link:hover, .employee-social__link:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}

.employee-social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.clients__list {
  display: flex;
  justify-content: center;
}

.clients__list .clients__item + .clients__item {
  margin-left: 30px;
}

.clients__link {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AFB1B8;
  background-color: #FFFFFF;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  /* css перехід */
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: #2196F3;
  background-color: #FFFFFF;
  border: 1px solid #2196F3;
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.projects-filter__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.projects-filter__list .projects-filter__item + .projects-filter__item {
  margin-left: 8px;
}

.projects-filter__button {
  background: #F5F4FA;
  padding: 6px 22px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: #212121;
  border: none;
  border-radius: 4px;
  /* css перехід */
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-filter__button:hover, .projects-filter__button:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.projects__item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc(33.3333333333% - 30px);
}

.projects__link {
  display: inline-block;
  text-decoration: none;
  color: #212121;
  /* css перехід */
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__link:hover, .projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/*############### Start Projects description animation #################*/
.projects__description-container {
  position: relative;
  overflow: hidden;
}
.projects__description-container::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__item:hover .projects__description-container::before {
  transform: translateY(0);
}
.projects__link:focus .projects__description-container::before {
  transform: translateY(0);
}

.projects__project-description {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* css перехід */
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__item:hover .projects__project-description {
  transform: translateY(0);
}
.projects__link:focus .projects__project-description {
  transform: translateY(0);
}

.projects__description-text {
  width: 322px;
  font-size: 18px;
  line-height: 1.5555555556;
  color: #FFFFFF;
}

/*############### End Projects description animation #################*/
.projects__project-meta {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.projects__title {
  margin-bottom: 4px;
  font-style: normal;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.projects__type {
  font-style: normal;
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

.footer-container {
  display: flex;
  align-items: baseline;
  align-content: center;
  justify-content: space-between;
}

.footer__site-logo {
  display: block;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.footer-contacts__list li:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts__physical-address {
  display: block;
  margin-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7142;
  color: #FFFFFF;
}

.footer-contacts__link {
  font-style: normal;
  line-height: 1.7142;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  /* css перехід */
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: #2196F3;
}

.footer-social-container_name {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-social-container {
  margin-left: 70px;
}

.footer-social__list {
  display: flex;
  justify-content: center;
}

.footer-social__list .footer-social__item + .footer-social__item {
  margin-left: 10px;
}

.footer-social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer-social__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  /* css перехід */
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__link:hover, .footer-social__link:focus {
  background-color: #2196F3;
}

.footer-subscribe {
  margin-left: auto;
}

.footer-subscribe__name {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-subscribe-form {
  display: flex;
  align-items: baseline;
}

.footer-subscribe-form__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  color: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscribe-form__input:focus {
  outline: none;
  border-color: #FFFFFF;
}

.footer-subscribe-form__button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  width: 200px;
  padding: 10px 28px;
  margin-left: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  cursor: pointer;
  background: #2196F3;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-subscribe-form__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: currentColor;
}/*# sourceMappingURL=main.css.map */