@import './utils/variables';
@import './utils/placeholders';
@import './components/tags-style';
@import './components/global-classes_style';
@import './components/site-header';
@import './components/hero-section';
@import './components/modal-window';
@import './components/features-section';
@import './components/company-works-section';
@import './components/company-team-section';
@import './components/clients-section';
@import './components/projects-section';
@import './components/site-footer';