.company-team__title {
    @extend %section-title;
}

.company-team {
    background-color: $global-lightgray-color;
}

.company-team__list {
    display: flex;
}

.company-team__list .company-team__item+.company-team__item {
    margin-left: 30px;
}

.company-team__item {
    background-color: $global-white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.employee-description {
    padding-top: 30px;
    padding-bottom: 30px;
}

.employee-description__name {
    margin-bottom: 10px;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1875;
    text-align: center;
    color: $global-blackgray-color;
}

.employee-description__position {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: $global-lightblack-color;
}

.employee-social__list {
    display: flex;
    justify-content: center;
}

.employee-social__list .employee-social__item+.employee-social__item {
    margin-left: 10px;
}

.employee-social__link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $social-icons-fill;
    background-color: $global-white-color;
    border-radius: 50%;
    /* css перехід */
    transition-property: color, background-color;
    transition-duration: $global-transition-duration;
    transition-timing-function: $global-transition-timing-function;

    &:hover,
    &:focus {
        color: $global-white-color;
        background-color: $global-sky-color;
    }
}

.employee-social__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}