.features__title {
    @extend %hide-header;
}

.features__list {
    @media screen and (min-width: $tablet-breakpoint) {
        & {
            display: flex;
            flex-wrap: wrap;
        }
    }
    @media screen and (min-width: $desktop-breakpoint) {
        & {
            flex-wrap: nowrap;
        }
    }
}

.features__list .features__item+.features__item {
    @media screen and (min-width: $desktop-breakpoint) {
            & {
                margin-left: 30px;
            }
        }
}

.features__item {
    @media screen and (max-width: $mobile-breakpoint) {
            & {
                margin-bottom: 30px;
            }
        }
    @media screen and (min-width: $tablet-breakpoint) {
            & {
                flex-basis: calc((100% - 30px) / 2);
            }
            &:first-child {
                margin-bottom: 30px;
            }
            &:nth-child(2n) {
                margin-left: 30px;
            }
        }
    @media screen and (min-width: $desktop-breakpoint) {
            & {
                flex-basis: calc((100% - 30px) / 4);
            }
        }
}

.features__icon {
    width: 70px;
    height: 70px;
}

.features__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background: $global-lightgray-color;
    border-radius: 4px;
    margin-bottom: 30px;
}

.features__name {
    text-align: center;
    margin-bottom: 10px;
    font-style: normal;
    font-size: 14px;
    line-height: 1.1428;
    text-transform: uppercase;
    
    @media (min-width: $tablet-breakpoint) {
            & {
                text-align: left;
            }
        }
}

.features__description {
    font-style: normal;
    font-weight: 400;
    line-height: 1.7142;
    color: blck;
}