.features__title {
    @extend %hide-header;
}

.features__list {
    display: flex;
}

.features__list .features__item+.features__item {
    margin-left: 30px;
}

.features__item {
    flex-basis: calc(100% / 4);
}

.features__icon {
    width: 70px;
    height: 70px;
}

.features__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background: $global-lightgray-color;
    border-radius: 4px;
    margin-bottom: 30px;
}

.features__name {
    margin-bottom: 10px;
    font-style: normal;
    font-size: 14px;
    line-height: 1.1428;
    text-transform: uppercase;
}

.features__description {
    font-style: normal;
    font-weight: 400;
    line-height: 1.7142;
    color: $global-lightblack-color;
}