.projects-section__title {
    @extend %hide-header;
}

.projects-filter__list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.projects-filter__list .projects-filter__item+.projects-filter__item {
    margin-left: 8px;
}

.projects-filter__button {
    background: $global-lightgray-color;
    padding: 6px 22px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: $global-blackgray-color;
    border: none;
    border-radius: 4px;
    /* css перехід */
    transition-property: background-color, color, box-shadow;
    transition-duration: $global-transition-duration;
    transition-timing-function: $global-transition-timing-function;

    &:hover,
    &:focus {
        background-color: $global-sky-color;
        color: $global-white-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
                    0px 1px 2px rgba(0, 0, 0, 0.08),
                    0px 2px 2px rgba(0, 0, 0, 0.12);
        }
}

.projects__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}

.projects__item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc(100% / 3 - 30px);
}

.projects__link {
    display: inline-block;
    text-decoration: none;
    color: $global-blackgray-color;
    /* css перехід */
    transition-property: box-shadow;
    transition-duration: $global-transition-duration;
    transition-timing-function: $global-transition-timing-function;

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
                    0px 4px 4px rgba(0, 0, 0, 0.06),
                    1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}

/*############### Start Projects description animation #################*/

.projects__description-container {
    position: relative;
    overflow: hidden;

    &::before {
            display: inline-block;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $project-description-background;
            transform: translateY(100%);
            transition-property: transform;
            transition-duration: $global-transition-duration;
            transition-timing-function: $global-transition-timing-function;
        }

    .projects__item:hover &::before {
        transform: translateY(0);
    }

    .projects__link:focus &::before {
        transform: translateY(0);
    }
}

.projects__project-description {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* css перехід */
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: $global-transition-duration;
    transition-timing-function: $global-transition-timing-function;

    .projects__item:hover & {
            transform: translateY(0);
        }

    .projects__link:focus & {
        transform: translateY(0);
    }
}

.projects__description-text {
    width: 322px;
    font-size: 18px;
    line-height: calc(28 / 18);
    color: $global-white-color;
}

/*############### End Projects description animation #################*/

.projects__project-meta {
    padding: 20px 24px;
    border: 1px solid $projects-item-border-color;
    border-top: none;
}

.projects__title {
    margin-bottom: 4px;
    font-style: normal;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $global-blackgray-color;
}

.projects__type {
    font-style: normal;
    font-size: 16px;
    line-height: 1.875;
    color: $global-lightblack-color;
}