%hide-header {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

%section-title {
    margin-bottom: 50px;
    font-style: normal;
    font-size: 36px;
    line-height: 1.1666;
    text-align: center;
    color: $global-blackgray-color;
}