$global-lightblack-color: #757575;
$global-white-color: #FFFFFF;
$global-sky-color: #2196F3;
$global-black-color: #000000;
$global-blackgray-color: #212121;
$global-lightgray-color: #F5F4FA;
$header-border-color: #ECECEC;
$hero-button-background-active-color: #188CE8;
$social-icons-fill: #AFB1B8;
$projects-item-border-color: #EEEEEE;
$project-description-background: rgba(33, 150, 243, 0.9);
$hero-footer-background-color: #2F303A;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$footer-social-link-bg-color: rgba(255, 255, 255, 0.1);
$modal-window-backdrop-color: rgba(0, 0, 0, 0.2);
$global-transition-duration: 250ms;
$global-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$form-placeholder-color: rgba(117, 117, 117, 0.5);
$form-border-color: rgba(33, 33, 33, 0.2);

$body-font-family-roboto: "Roboto", sans-serif;
$body-font-size: 14px;
$body-letter-spacing: 0.03em;
$secondary-font-family: "Raleway", sans-serif;